:root {
  --main-bg-color: #fde618;
  --accent: #055bfc;
  --header-font: 'Vollkorn', cursive;
  --light-text: #d4e0ff;
  --dark-text: #444;
  --link-color: #fc059d;
  --serif: 'Vollkorn', serif;
  --body-bigger: 1.25rem;
}

.body {
  background: rgb(21,4,242);
  background: linear-gradient(180deg, rgba(21,4,242,1) 0%, rgba(255,0,161,1) 35%, rgba(251,242,142,1) 81%);

  font-family: var(--serif);
    /* padding: var(--ok-s-3); */
    /* max-width: 80ch; */
    /* margin: auto; */
    max-width: 100%;
    color: var(--dark-text);
    font-size: var(--body-bigger);
    
}

html, 
body {
    height: 100%;
}


p {
  font-size: var(--body-bigger);
  font-weight: 500;
}

h1 {
  color: var(--accent);
  font-family: var(--header-font);
  font-weight: 600;
}


h1.brand a {
  margin-top: 0;
  text-decoration: none;
}

.container {
  padding: var(--ok-s-3);
  max-width: 42rem;
  margin: auto;
}

.nola-header {
  display: grid;
  grid-template-columns: 10rem 1fr;
  grid-template-rows: 10rem;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; }
  .div2 { grid-area: 1 / 2 / 2 / 3; }

ul {
  font-size: 2rem;
  list-style: none;
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color);
}

main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 1rem 0 0 0;
}

section, footer {
  /* padding: 10px; */
  margin: 0;
}

section {
  flex: 1;
  /* background: var(--main-bg-color); */
}

.container {
  max-width: 42rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  /* background: var(--main-bg-color); */
}

footer {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: auto;
  margin-bottom: 4rem;
  width: 100%;
  padding-bottom: 4rem;
}

main {
  margin-bottom: 1rem;
}

.nola-header2 {  display: grid;
  grid-template-columns: 12rem 1fr;
  grid-template-rows: 12rem;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "logo blog-name";
  align-items: center;
  text-decoration: none;
  max-width: 100%;
}

.nola-header2 a { 
  text-decoration: none;
}

.logo { 
  grid-area: logo;
  margin-bottom: 0;
}

.blog-name { 
  grid-area: blog-name;
  margin-top: 0;
  font-size: 3.5rem;
}

a .blog-name { 
  text-decoration: none; 
}

/* .container {
  max-width: 42rem;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: antiquewhite;
  /* background: var(--main-bg-color); */
  border-radius: 7rem;
} */



@media screen and (max-width: 800px) {

  .nola-header2 {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12rem 12rem;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "logo blog-name";
    align-items: center;
    text-decoration: none;
    max-width: 100%;
  }

}

.logo {
  grid-area: logo;
  margin-bottom: 0;
  margin-left: -1rem;
  margin-top: 1rem;
}